<%- include('header'); -%>
<body>
    <h1>MLB Stadium Comparison</h1>
    <div class="center">
        <p>AL EAST</p>
        <div>
            <a class="button" href="team">Baltimore Orioles</a>
            <a class="button" href="team">Boston Red Sox</a>
            <a class="button" href="team">New York Yankees</a>
            <a class="button" href="team">Tampa Bay Rays</a>
            <a class="button" href="team">Toronto Blue Jays</a>
        </div>
        <p>AL CENTRAL</p>
        <div>
            <a class="button" href="team">Chicago White Sox</a>
            <a class="button" href="team">Cleveland Guardians</a>
            <a class="button" href="team">Detroit Tigers</a>
            <a class="button" href="team">Kansas City Royals</a>
            <a class="button" href="team">Minnesota Twins</a>
        </div>
        <p>AL WEST</p>
        <div>
            <a class="button" href="team">Houston Astros</a>
            <a class="button" href="team">Los Angeles Angels</a>
            <a class="button" href="team">Oakland Athletics</a>
            <a class="button" href="team">Seattle Mariners</a>
            <a class="button" href="team">Texas Rangers</a>
        </div>
        <p>NL EAST</p>
        <div>
            <a class="button" href="team">Atlanta Braves</a>
            <a class="button" href="team">Miami Marline</a>
            <a class="button" href="team">New York Mets</a>
            <a class="button" href="team">Philadelphia Phillies</a>
            <a class="button" href="team">Washington Nationals</a>
        </div>

        <p>NL CENTRAL</p>
        <div>
            <a class="button" href="team">Chicago Cubs</a>
            <a class="button" href="team">Cincinnati Reds</a>
            <a class="button" href="team">Milwaukee Brewers</a>
            <a class="button" href="team">Pittsburgh Pirates</a>
            <a class="button" href="team">St. Louis Cardinals</a>
        </div>
        <p>NL WEST</p>
        <div>
            <a class="button" href="team">Arizona Diamondbacks</a>
            <a class="button" href="team">Colorado Rockies</a>
            <a class="button" href="team">Los Angeles Dodgers</a>
            <a class="button" href="team">San Diego Padres</a>
            <a class="button" href="team">San Francisco Giants</a>
        </div>
    </div>
</body>
</html>