<%- include('header'); -%>
<body>
    <div class="center">
        <h1>
            team name goes here
        </h1>
        <a class="button" href="history">History</a>
        <a class="button" href="amenities">Amenities</a>
        <a class="button" href="map">Map</a>
        <a class="button" href="photos">Images</a>
    </div>
    
</body>
</html>