<%- include('header'); -%>
<body>
    team name goes here
    <a class="button" href="history">History</a>
    <a class="button" href="amenities">Amenities</a>
    <a class="button" href="map">Map</a>
    <a class="button" href="photos">Images</a>
</body>
</html>